
       .icon-text-box{
            text-align: center;
            width: 250px;
            margin: auto;
            svg{
                color: #bc9c70;
            }
            h4{
                margin-top: 10px;
                margin-bottom: 20px;
                font-size: 22px;
                line-height: 1.4em;
                font-family: "helvetica";
                font-weight: 400;
                color: #575757!important;
            }
            p{
                font-size: 15px;
                font-family: "helvetica";
                font-weight: 400;
                color: #575757!important;
            }
        }

/*********************************************************************************/
/* ------------------------------ RESPONSIVE : TABLETTE ( 768px) ----------------- */
/*********************************************************************************/


@media (min-width: 768px)
{

}

/*********************************************************************************/
/* -------------------- RESPONSIVE : DESKTOP (992px ) ------------------------------ */
/*********************************************************************************/

@media (min-width: 992px)
{

}

/*********************************************************************************/
/* ------------------- RESPONSIVE : BIG TELEPHONE (  de 450px) ------------------- */
/*********************************************************************************/

@media (min-width: 450px)
{

}
