.img-text{
    text-align: center;
    margin-bottom: 40px; 
    img{
        height: 270px;
        width: 270px;
        margin-bottom: 20px;        
    }
    h4{
        margin: 0 auto 20px;  
        font-size: 21px;
        text-align: center;
        color: #333333!important;
        font-family: "helvetica";
        font-weight: 400;
        width: 270px;
        
    }
    p{
        margin: auto;
        font-size: 15px;
        text-align: center;
        font-family: "helvetica";
        font-weight: 400;
        color: #575757!important;
        width: 270px;
        
    }
}


/*********************************************************************************/
/* ------------------------------ RESPONSIVE : TABLETTE ( 768px) ----------------- */
/*********************************************************************************/


@media (min-width: 768px)
{
    .img-text{
        flex-basis: 42%;
    }
}

/*********************************************************************************/
/* -------------------- RESPONSIVE : DESKTOP (992px ) ------------------------------ */
/*********************************************************************************/

@media (min-width: 992px)
{

}

/*********************************************************************************/
/* ------------------- RESPONSIVE : BIG TELEPHONE (  de 450px) ------------------- */
/*********************************************************************************/

@media (min-width: 450px)
{

}
