.introduction-description{
    &__text-area{
        p{
            margin-top: 20px;
        }
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    &__description{
        margin: 30px auto;
    }
}



/*********************************************************************************/
/* ------------------------------ RESPONSIVE : TABLETTE ( 768px) ----------------- */
/*********************************************************************************/


@media (min-width: 768px)
{
    .contact-form{
        flex-direction: row;
        flex-wrap: wrap;
        &__form{
            flex-basis: 50%;
        }
        &__description{
            flex-basis: 50%;
        }
    }
}

/*********************************************************************************/
/* -------------------- RESPONSIVE : DESKTOP (992px ) ------------------------------ */
/*********************************************************************************/

@media (min-width: 992px)
{

}

/*********************************************************************************/
/* ------------------- RESPONSIVE : BIG TELEPHONE (  de 450px) ------------------- */
/*********************************************************************************/

@media (min-width: 450px)
{

}
